.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
  transition: background-color 0.15s linear;
  display: table;
}
.circle p {
  display: none;
  font-family: helvetica, arial, sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.step-1 {
  background-color: #e66705;
}
.step-1 p:nth-child(1) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.step-2 {
  background-color: #ff9900;
}
.step-2 p:nth-child(n) {
  display: none;
}
.step-2 p:nth-child(2) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.step-3 {
  background-color: #f47762;
}
.step-3 p:nth-child(n) {
  display: none;
}
.step-3 p:nth-child(3) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.step-4 {
  background-color: #cccccc;
}
.step-4 p:nth-child(n) {
  display: none;
}
.step-4 p:nth-child(4) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.step-5 {
  background-color: #8ebcc1;
}
.step-5 p:nth-child(n) {
  display: none;
}
.step-5 p:nth-child(5) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.interaction-text {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: lighter;
}
button {
  background-color: transparent;
  border: 2px solid #e8f5f7;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  outline: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: lighter;
}
button:hover {
  background-color: #e8f5f7;
}
button:active {
  background-color: #8ebcc1;
  border-color: #8ebcc1;
}
a {
  padding-left: 20px;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: lighter;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
